#with-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}
h1{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4em;
  padding: 0;
  margin: 0;
}
.dial{
  height: 400px;
  width: 400px
}

.timer{
  position: relative;
  display: inline-block;
}

body{
  background-color: #f2e9e4;
}

.timer input{
  display: block;
  border: none;
  width: 240px;
  font-size: 90px;
  text-align: center;
  background-color: #f2e9e4;
}

.timer button{
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.timer input:focus{
  outline: none;
}

.controls{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#whole{
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;
}
